body{
    font-family: 'Lato', sans-serif;
   
}
.container-fluid{
    width: 100%;
    background-color: #f0f0f0e5;
}
.para_How{
    padding-bottom: 55px;
}
.logo{
    height: 93px ;
    padding-bottom: 6px !important;
}
.nav-link  {
    color: #C9AD85 !important;     
padding-top: 14px !important;
padding-bottom: 32px !important;
margin-left: 43px !important;
font-size: 19px !important;
display: inline !important;
}
.pt-41{
       display: table-column;;
}
.navbar{
    padding: 0% !important;
}
.nav-item a:hover{
  
    border-bottom: 5px solid #C9AD85;
  
}
.navbar-expand-md{
    padding-bottom: 0px !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1; 
     background-color:rgb(85, 67, 67) !important; 
     border: 0 !important;
    border-radius: .25rem;
}
.bg-overlay{
    background-color:#3B3D47 ;
    color: #C9AD85;
    background-repeat: repeat;
    background-image: url("/home/maindwave-dev1/Documents/Task3/asserts/Images/icons.png");
   
    
}
.line-number {
    margin-top: -4%;
    margin-bottom: -1rem;
    margin-left: 44%;
    margin-right: 44%;
    border: 0;
    border-top: 4px solid #C9AD85;
    padding-bottom: 53px;
}

.para_one{
    font-size: 34px !important;
    padding-top: 130px;
    font-weight: bold;
    line-height: 1.1 !important;
  
}

.img_bt{
   
    height: 62px;
    padding-top: 15px;
}
.img_Phone {
    height: 546px;
    float: right;
    padding-top: 23px;
}
.para3{
    font-size: 31px;
    padding-top: 59px;
    text-align: center;
   
    
    font-weight: bold;
}
.para3-1{
    text-align: center;   
     margin: 85px;
     color: #707575;
}
.card-subtitle{
    font-weight: bold;

    text-align: center;
    padding-bottom: 6px;
}
.title{
font-size: 34px;
    text-align: center;
    color: #C9AD85;
    
    font-weight: bold;
  
    
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 49px;
}

.card{
    width: 20rem !important;
}

.card-text{
    text-align: -webkit-center;
    color: #5e666d;
}
.three{
    padding-bottom: 59px !important;
}
.card-body{
    padding-top: 52px !important;
    padding-bottom: 63px !important;
}
.two{
    float: left;
}
.conn{
    background-color: #3B3D47;
}
.head4{
    color: #C9AD85;
    padding: 89px 198px 9px 0px !important;
}
.img-rounded{
    border: 3px solid #C9AD85;
}
.feature{
    color: white;
    text-align: center;
    padding-bottom: 15px;
  
    padding-top: 41px;
}
.img_Phone1 {
    height: 509px;
    float: left;
    padding-top: 29px;
}
.para5{
    color: white;
   
}
.btn-outline{
    border-radius: 0rem !important;
    background-color: #C9AD85;
    
}
.line {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: 47%;
    margin-right: 47%;
    border: 0;
    border-top: 5px solid #C9AD85;
}
.line1 {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: 43.5%;
    margin-right: 43.5%;
    border: 0;
    border-top: 5px solid #C9AD85;
}
.carousel-item{
 text-align: center;
}
.pad-up-slide{
padding-top: 148px;
}
.name{
    font-weight: bold;
    color: #C9AD85;
    padding-top: 16px;
}
.para6{
    color: white;
}
.para7{
    color: #C9AD85;
    padding-left: 235px;
    padding-right: 235px;
    padding-top: 21px;
    padding-bottom: 13%;
}
.contact{
    color:#C9AD85;
font-weight: bold;
text-align: center;
padding-top: 51px;
padding-bottom: 13px;
}
.one-row{
    padding-top: 35px !important;
      
}
.line2 {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: 47%;
    margin-right: 47%;
    border: 0;
    border-top: 5px solid #C9AD85;
}
.new_rows {
    padding: 72px 187px 0px 187px;
}
.form-control
{
    background-color: #dee1e4 !important;
    border: 0px solid #b8bec4 !important;
}
.btn-out{
    
    text-align: center;
    padding: 39px 29px 68px 29px;
}
.md-form{
    padding-top: 26px;
}
.page-footer{
    background-color:#3B3D47 ;
}
.footer-img{
    height: 132px;
    width: 178px;
    padding-left: 42px;
}
.left {
    float: left;
    color: #C9AD85;
    padding: 42px;
}
.foo-div{
    padding-left: 172px;
    padding-right: 172px;
}
.btn-send {
    padding: 3px 23px 3px 23px;
    background-color: #C9AD85;
}










@media (max-width:1400px){
    .left {
        float: left;
        color: #C9AD85;
        padding: 48px;
    }
    .pad-up-slide {
        padding-top: 77px;
    }
    .new_rows {
        padding: 49px 157px 0px 157px;
    }
    .foo-div {
        padding-left: 138px;
        padding-right: 138px;
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 48px 27px 22px 37px;
    }
}




@media (max-width:1200px){
    .card {
        width: 18rem !important;
    }
    .card-body {
        padding-top: 29px !important;
        padding-bottom: 41px !important;
    }
    .head4 {
        color: #C9AD85;
        padding: 61px 149px 7px 0px !important;
    }
    .title {
        font-size: 34px;
        text-align: center;
        color: #C9AD85;
        
        font-weight: bold;
       
    }
    .foo-div {
        padding-left: 104px;
        padding-right: 104px;
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 48px 24px 22px 37px;
    }
    .img_Phone {
        height: 499px;
        float: right;
        padding-top: 23px;
    }
    .img_Phone1 {
        height: 478px;
        float: left;
        padding-top: 29px;
    }
    .new_rows {
        padding: 52px 191px 0px 191px;
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 33px;
    }
    .footer-img {
        height: 116px;
        width: 132px;
        padding-left: 7px;
    }
    .pad-up-slide {
        padding-top: 47px;
    }
}







@media (max-width: 992px) 
{
    .para_one {
        font-size: 26px !important;
        padding-top: 76px;
        font-weight: bold;
        line-height: 1.1 !important;
    }
    .nav-link {
        color: #C9AD85 !important;
        padding-top: 17px !important;
        padding-bottom: 34px !important;
        margin-left: -4px !important;
        font-size: 18px !important;
        display: inline !important;
    }
    .one-row {
        padding-top: 0px !important;
    }
    .card {
        width: 14rem !important;
    }
    .card-body {
        padding-top: 5px !important;
        padding-bottom: 32px !important;
    }
    .feature {
        color: white;
        text-align: center;
        padding-bottom: 12px;
        padding-top: 29px;
    }
    .foo-div {
        padding-left: 120px;
        padding-right: 120px;
    }
    .h3, h3 {
        font-size: 1.55rem !important;
    }
    .h4, h4 {
        font-size: 1.1rem !important;
    }
    .new_rows {
        padding: 20px 129px 0px 144px;
    }
    .footer-img {
        height: 92px;
        width: 89px;
        padding-left: 0px;
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 32px 8px 0px 3px;
        font-size: 15px;
    }
    .btn-send {
        padding: 3px 23px 3px 23px;
        background-color: #C9AD85;
    }
    .btn-out {
        text-align: center;
        padding: 29px 36px 51px 36px;
    }
    .para7 {
        color: #C9AD85;
        padding-left: 173px;
        padding-right: 173px;
        padding-top: 8px;
        padding-bottom: 7%;
    }
    .para5 {
        color: white;
        font-size: 14px;
    }
    .img_Phone1 {
        height: 370px;
        float: left;
        padding-top: 22px;
    }
    .title {
        font-size: 34px;
        text-align: center;
        color: #C9AD85;
        padding-top: 32px;
        font-weight: bold;
       
    }
    .line-number {
        margin-top: -4%;
        margin-bottom: -1rem;
        margin-left: 44%;
        margin-right: 44%;
        border: 0;
        border-top: 4px solid #C9AD85;
        padding-bottom: 33px;
    }
    .logo {
        height: 72px;
        padding-bottom: 6px !important;
    }
    .nav-link {
        color: #C9AD85 !important;
        padding-top: 17px !important;
        padding-bottom: 21px !important;
        margin-left: -4px !important;
        font-size: 18px !important;
        display: inline !important;
    }
    .img_Phone {
        height: 375px;
        float: right;
        padding-top: 23px;
    }
}







@media (max-width: 767px){ 
    .para_one {
        font-size: 23px !important;
        padding-top: 34px;
        font-weight: bold;
        line-height: 1.1 !important;
    }
    .nav-link {
        color: #C9AD85 !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-left: 17px !important;
        font-size: 15px !important;
        display: inline !important;
    }
    .img_bt {
        height: 51px;
        padding-top: 15px;
    }
    .para7 {
        color: #C9AD85;
        padding-left: 73px;
        padding-right: 73px;
        padding-top: 0px;
        padding-bottom: 2%;
    }
    .card {
        width: 116% !important;
    }
    .footer-img {
        height: 87px;
        width: 78px;
        padding-left: 0px;
    }
    .foo-div {
        padding-left: 82px;
        padding-right: 68px;
    }
    .new_rows {
        padding: 11px 29px 0px 29px;
    }
    .btn-out {
        text-align: center;
        padding: 23px 23px 0px 23px;
    }
    .card {
        width: 100% !important;
    }
    .footer-img {
        height: 94px;
        width: 71px;
        padding-left: 0px;
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 24px 8px 8px 4px;
        font-size: 17px;
    }
    .h3, h3 {
        font-size: 1.30rem !important;
    }
    .btn-outline {
        border-radius: 0rem !important;
        background-color: #C9AD85;
       
    }
    .para5 {
        color: white;
        font-size: 13px;
        padding: 0px 69px 0px 69px;
        text-align: center;
    }
    .head4 {
        color: #C9AD85;
        padding: 17px 52px 4px 52px !important;
        text-align: center;
    }
    .img_Phone1 {
        height: 371px;
        float: left;
        padding-top: 51px;
        padding-left: 114px;
    }
    .para3-1 {
        text-align: center;
        margin: 82px;
        margin-bottom: 35px;
        color: #707575;
    }
   
    .card-body {
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        padding: 0.25rem !important;
    }
    .para3 {
        font-size: 26px;
        padding-top: 27px;
        text-align: center;
        font-weight: bold;
    }
    .title {
        font-size: 34px;
        text-align: center;
        color: #C9AD85;
       
        font-weight: bold;
       
    }
    .left {
        float: left;
        color: #C9AD85;
        padding: 22px 0px 8px 4px;
        font-size: 13px;
    }
    .footer-img {
        height: 80px;
        width: 65px;
        padding-left: 0px;
    }
    .line {
        margin-top: -1rem;
        margin-bottom: -4rem;
        margin-left: 43%;
               margin-right: 43%;
        border: 0;
        border-top: 5px solid #C9AD85;
    }
    .img_Phone {
        height: 375px;
        float: left;
        padding-top: 23px;
        padding-left: 96px;
    }
}
@media  (max-width:680px){

    .left {
        float: left;
        color: #C9AD85;
        padding: 22px 12px 8px 4px;
        font-size: 13px;
    }
    .foo-div {
        padding-left: 47px;
        padding-right: 47px;
    }
    .card {
        width: 113% !important;
    }
    .view-more{
        text-align: center;
    }
}



@media  (max-width:576px){
    .left2 {
        float: left;
        font-size: 16px;
        padding: 0px 42px 10px 65px;
        color: #C9AD85;
        
    }
    .left3 {
        float: left;
        font-size: 16px;
        padding: 1px 42px 39px 57px;
        color: #C9AD85;
        text-align: center;
    }
    .card-text {
        text-align: -webkit-center;
        padding-bottom: 46px;
        color: #5e666d;
    }
    .line-number {
        margin-top: -1%;
        margin-bottom: -1rem;
        margin-left: 47%;
        margin-right: 47%;
        border: 0;
        border-top: 4px solid #C9AD85;
        padding-bottom: 43px;
    }
    .para_one {
        font-size: 23px !important;
        padding-top: 34px;
        font-weight: bold;
        line-height: 1.1 !important;
        text-align: center;
    }
   
    .img_Phone {
        height: 375px;
        float: left;
        padding-top: 23px;
        padding-left: 103px;
    }
    .pt-4{
        display: table-column;
    }
    .pt-41{
    display: block;
    }
    .btn-outline {
        border-radius: 0rem !important;
        background-color: #C9AD85;
        
    }
    .img_bt {
        height: 51px;
        padding-top: 15px;
        padding-left: 95px;
    }
    .card {
        width: 100% !important;
        
    }
   
   .footer-center1{
       text-align: center;
   }
   .view-more{
    text-align: center;
}

}







@media  (max-width: 490px) { 
    .img_Phone {
        height: 335px;
        float: left;
        padding-top: 23px;
        padding-left: 54px;
    }
    .navbar-toggler {
        padding: .25rem .45rem !important;
        font-size: 1.15rem !important;
       
    }
    .img_Phone1 {
        height: 346px;
        float: left;
        padding-top: 51px;
        padding-left: 62px;
    }
    .btn-outline {
        border-radius: 0rem !important;
        background-color: #C9AD85;
     
    }
    .img_bt {
        height: 51px;
        padding-top: 15px;
        padding-left: 61px;
    }
    .left2 {
        float: left;
        font-size: 16px;
        padding: 0px 1px 9px 56px;
        color: #C9AD85;
    }
    .left3 {
        float: left;
        font-size: 16px;
        padding: 0px 1px 33px 48px;
        color: #C9AD85;
    }
    .para3-1 {

        text-align: center;
        margin: 65px;
        margin-bottom: 35px;
        color: #707575;
    }
    .btn-outline {
        border-radius: 0rem !important;
        background-color: #C9AD85;
      
    }
    .view-more{
        text-align: center;
    }
    
}


@media  (max-width: 360px) { 
    .phone_img{
        text-align: center;
    }
    .navbar-toggler {
        padding: .25rem .35rem !important;
        font-size: 1.15rem !important;
       
    }
    .para5 {
        color: white;
        font-size: 13px;
        padding: 0px 38px 0px 38px;
        text-align: center;
    }
    .para7 {
        color: #C9AD85;
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 0px;
        padding-bottom: 2%;
    }
    .para3-1 {
        text-align: center;
        margin: 75px 0px 37px 8px;
       
        color: #707575;
    }
    .left2 {
        float: left;
        font-size: 11px;
        padding: 0px 1px 6px 62px;
        color: #C9AD85;
    }
    .left3 {
        float: left;
        font-size: 11px;
        padding: 0px 1px 29px 57px;
        color: #C9AD85;
    }
    .btn-send {
        padding: 3px 23px 3px 23px;
        background-color: #C9AD85;
    }
    .img_Phone {
        height: 375px;
        float: left;
        padding-top: 23px;
        padding-left: 1px;
    }
    .img_Phone1 {
        height: 371px;
        float: left;
        padding-top: 51px;
        padding-left: 19px;
    }
    .view-more{
        text-align: center;
    }
}
@media (max-width: 320px){
    .navbar-toggler-icon {
        width: 0.5em !important;
        height: 0.5em !important;
        }
        .line-number {
            margin-top: -4%;
            margin-bottom: -1rem;
            margin-left: 45%;
            margin-right: 44%;
            border: 0;
            border-top: 4px solid #C9AD85;
            padding-bottom: 30px;
        }
        .view-more{
            text-align: center;
        }
       
        .btn-outline {
            border-radius: 0rem !important;
            background-color: #C9AD85;
           
        }
}
